<div id="sidebar">
		<div class="sub-navigation">
			<h2></h2>		
		</div>
</div>

<div id="main-internal">
  <h2>About Us</h2>
  <p style="font-size:14px;color:#555">
    All Propane LPG specializes in liquefied petroleum gas (LP-Gas) products, parts, and accessories.
    <br/>We carry equipment from all of the top manufacturers in the industry, including: Blackmer, Fisher, Marshall Excelsior, Ransome Manufacturing, and others.
    Our goal is to provide customers with affordable solutions in a timely manner.
  </p>
</div>
