<div id="sidebar">
	<div id="side-news">
		<h2>Get in Touch</h2>
	</div>
</div>

<div id="main-internal">
  <div id="contact">
    <h2>We're Here to Help.</h2>
    <h3>Matthew Flores, Manager</h3>
    <p><strong>Office:</strong> (626) 257-3205</p>
    <p><strong>Mobile:</strong> (626) 200-5683</p>
    <p><strong>Email:</strong> <a href="mailto:matt@aplpg.com">matt@aplpg.com</a></p>
    <p><strong>Para Español</strong> (626) 991-2400</p>
  </div>
    <!--		
		<div id="form">
			<form method="post" action="contact.php">
			<p>&nbsp;</p>
			<p><input name="name" type="text" class="form_nm" id="name" onfocus="if(this.value=='Your Name') this.value=''" value="Your Name" /></p>
						<p>&nbsp;</p>
					  <p><input name="EmailFrom" type="text" class="form_nm" id="EmailFrom" onfocus="if(this.value=='Your Email') this.value=''" value="Your Email" /></p>
			<p>&nbsp;</p>
					 <p><textarea name="message" class="form_tf" cols="" rows="" id="msg" onfocus="if(this.value=='Message') this.value=''">Message</textarea></p>
				  <p>&nbsp;</p>
					  <p><input name="submit" class="btn-form" alt="" title="submit" type="submit" value="Send"/></p>        	
		  	</form>
		</div>
    -->
</div>