<div id="main">
	<div class="boxes">
		<h3>About All Propane LPG</h3>
		<img src="/images/img-aboutus.jpg" alt="about us" />
		<p>
      All Propane's goal is to provide customers with affordable solutions in a timely manner.
      <br/>We carry equipment from top manufacturers in the industry
      including: <strong>Blackmer</strong>, <strong>Fisher</strong>, <strong>Marshall Excelsior</strong>, <strong>Ransome Manufacturing</strong>, and others.
		</p>
	</div>

	<div class="boxes">
		<h3>Products</h3>
		<img src="/images/img-services.jpg" alt="services" />
		<p>
      All Propane LPG carries an extensive list of products from all major manufacturers 
      in the industy. Browse our product gallery and be sure to contact us for parts not listed.
    </p>
	</div>

	<div class="boxes">
		<h3>Contact All Propane LPG</h3>
		<img src="/images/img-testimonials.jpg" alt="testimonials" />
    <p>To place an order or request a quote,<br/> call or e-mail us:</p>
    <p><strong>Office:</strong> (626) 200-5683</p>
    <p><strong>Mobile:</strong> (626) 456-4646</p>
    <p><strong>Email:</strong> <a href="mailto:matt@aplpg.com">matt@aplpg.com</a></p>
    <p><strong>Para Español</strong> (626) 991-2400</p>
    </p>
 </div>

</div>

