<div id="main-internal" class="products-wrapper">
  <%= erb :"products/breadcrumbs" %>

	<ul id="categories">
    <h1><%= @subcategory.name %></h1>
	</ul>
	
	  <%= @subcategory.data %>
</div>

<style type="text/css">
  table{
  }
  table td {
    padding:5px;
    border:1px solid #ccc;
  }
</style>